<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_3block :: layout(~{::title},~{::body/content()},@{/css/client/user/regist.css})}">

<head>
	<title th:text="#{user}+#{title.input.check}+' | '+ #{shop.title}"> </title>
	<meta charset="UTF-8" />
</head>

<body>
	<div class="auth_page auth_page_register">
		<section class="auth_panel auth_panel_register" aria-labelledby="registerCheckTitle">
			<div class="auth_heading">
				<p class="auth_kicker">CONFIRM</p>
				<h2 id="registerCheckTitle" class="auth_title" th:text="#{user}+#{title.input.check}">会員登録確認</h2>
				<p class="auth_description" th:text="#{msg.regist.check}">以下の内容で登録します。</p>
			</div>

			<ul class="auth_confirm_list" th:object="${userForm}">
				<li>
					<span class="auth_confirm_label">[[#{userForm.email}]]</span>
					<span class="auth_confirm_value" th:text="*{email}"></span>
				</li>
				<li>
					<span class="auth_confirm_label">[[#{userForm.password}]]</span>
					<span class="auth_confirm_value">********</span>
				</li>
				<li>
					<span class="auth_confirm_label">[[#{userForm.name}]]</span>
					<span class="auth_confirm_value" th:text="*{name}"></span>
				</li>
				<li>
					<span class="auth_confirm_label">[[#{userForm.postalCode}]]</span>
					<span class="auth_confirm_value" th:text="*{postalCode}"></span>
				</li>
				<li>
					<span class="auth_confirm_label">[[#{userForm.address}]]</span>
					<span class="auth_confirm_value" th:text="*{address}"></span>
				</li>
				<li>
					<span class="auth_confirm_label">[[#{userForm.phoneNumber}]]</span>
					<span class="auth_confirm_value" th:text="*{phoneNumber}"></span>
				</li>
			</ul>

			<div class="auth_action_row auth_action_row_confirm">
				<form th:action="@{/client/user/regist/complete}" method="post" class="auth_inline_form">
					<input type="submit" value="登録する" class="auth_primary_button" />
				</form>
				<form th:action="@{/client/user/regist/input}" method="post" class="auth_inline_form">
					<input type="submit" value="入力へ戻る" class="auth_secondary_button" />
				</form>
			</div>
		</section>
	</div>
</body>

</html>
