<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_3block :: layout(~{::title},~{::body/content()})}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title th:text="#{login}+' | '+ #{shop.title}"> </title>
</head>

<body class="user_login">
<div class="user_container">
	<h2 th:class="page_title" th:text="#{login}"></h2>
	<div class="login_content">
	<p th:class="description" th:text="#{msg.login.input}"></p>
	<div class="login_form_area">
		<form th:action="@{/login}" method="post" class="login_form" th:object="${loginForm}">
			<th:block th:if="${#fields.hasErrors()}">
			<div class="error_list">
				<ul>
					<li th:each="err:${#fields.detailedErrors()}" th:text="${err.message}"></li>
				</ul>
				<br />
			</div>
			</th:block>
			<div class="login_input">
				<div th:class="label" th:text="#{loginForm.email}"></div>
				<div class="input"><input type="text" th:field="*{email}" /></div>

				<div th:class="label" th:text="#{loginForm.password}"></div>
				<div class="input"><input type="password" th:field="*{password}" /></div>

				<div class="label"></div>
				<div class="login_regist">
					<div class="input input_submit"><input type="submit" th:value="#{login.button}" /></div>
					<a th:href="@{/client/user/regist/input/init}" class="new_regist">新規会員登録</a>
				</div>

			</div>

		</form>
	</div>
	</div>
</div>
	<p class="complete_link" id="back_top">
		<a th:href="@{/}" th:text="#{msg.back.to.top}"></a>
	</p>

</body>

</html>